<h1>KNT HS Retreat 2011 Schedule (Detailed)</h1>
<div class="text_center">
  <%= button_to_function "Print this!", "window.print()" %>
</div>
<h2>Saturday, March 12</h2>
<table>
  <tr>
    <th class="time">Time</th>
    <th class="event">What</th>
    <th class="delegate">Who</th>
    <th class="description">How</th>
  </tr>
  <tr>
    <td>7:15am</td>
    <td>Leave to go pick up students</td>
    <td>Sunny and others</td>
    <!-- Anyone but the skills group, because they are going first  -->
    <td>Get up early and drive to Earl Haig Secondary School.</td>
  </tr>
  <tr>
    <td>8:00am</td>
    <td>Students arrive at pick up point</td>
    <td>Sunny and others</td>
    <td>
      Upon arrival collect the following from each student:
      <ul>
        <li>Cheque</li>
        <li>Permission Form</li>
        <li>Check off student names</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>8:30am</td>
    <td>Ride to retreat centre</td>
    <td>Sunny, Audrey and others</td>
    <td>Get on the bus with students, try to talk to everyone and make them feel comfortable.</td>
  </tr>
  <tr>
    <td>9:15am</td>
    <td>Introductions</td>
    <td>Leo, Min-Jee</td>
    <td>Read about the following, as per booklet then (people) will talk more in detail.
      <ul>
        <li>KCSF (Justin & Kathy)</li>
        <li>SDC (Justin & Kathy)</li>
        <li>Konnect (Mark)</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>9:30am</td>
    <td>Settle In</td>
    <td>N/A</td>
    <td>After finishing the introductions, students will be given time to settle in and put their luggage away at the cabins.</td>
  </tr>
  <tr>
    <td>9:45am</td>
    <td>Group icebreakers</td>
    <td>Leo, Min-Jee</td>
    <td>Do several icebreakers: To Be Determined</td>
  </tr>
  <tr>
    <td>10:15am</td>
    <td>Skills: Success Presentation</td>
    <td>Paul</td>
    <td>People will help out with set up in terms of A/V. Paul will take care of the rest.</td>
  </tr>
  <tr>
    <td>10:45am</td>
    <td>Skills: Creativity Activity</td>
    <td>Vicki</td>
    <td>Vicki will take care of it.</td>
  </tr>
  <tr>
    <td>11:15am</td>
    <td>Break time</td>
    <td>N/A</td>
    <td>Give the students some break. They are free to roam near the main area.</td>
  </tr>
  <tr>
    <td>11:30am</td>
    <td>Skills: Communications Activity</td>
    <td>Christina</td>
    <td>Christina will take care of it.</td>
  </tr>
  <tr>
    <td>12:30pm</td>
    <td>Lunch</td>
    <td>SDC</td>
    <td>Help SDC set up table and deliver food. Eat.</td>
  </tr>
  <tr>
    <td>1:45pm</td>
    <td>Passion: Silly Time</td>
    <td>Heejae, Sharon, Brandon, Andy</td>
    <td>They are going to perform in front of the students with a dance.</td>
  </tr>
  <tr>
    <td>2:00pm</td>
    <td>Passion: Student Skits</td>
    <td>Passion Group</td>
    <td>Students will make their own skits, then present it to everyone.</td>
  </tr>
  <tr>
    <td>3:00pm</td>
    <td>Passion: Alex's Talk</td>
    <td>Alex</td>
    <td>Alex will give speech to the students.</td>
  </tr>
  <tr>
    <td>3:30pm</td>
    <td>Passion: Explore Blog Presentation</td>
    <td>Passion Group</td>
    <td>The Passion group will talk to the students about their blog which describes their passions.</td>
  </tr>
  <tr>
    <td>4:00pm</td>
    <td>Passion: Rotation Activity</td>
    <td>Passion Group</td>
    <td>Students will go around talking to each member from the Passion group.</td>
  </tr>
  <tr>
    <td>5:30pm</td>
    <td>Dinner</td>
    <td>SDC</td>
    <td>Help SDC set up table and deliver food. Eat.</td>
  </tr>
  <tr>
    <td>6:30pm</td>
    <td>Passion: Performances => Talent Show</td>
    <td>Passion Group</td>
    <td>Set up speakers and visuals.</td>
  </tr>
  <tr>
    <td>8:00pm</td>  
    <td>Passion: Reflection & Conclusions</td>  
    <td>Passion Group</td>
    <td>Closes the Passion group's program.</td>
  </tr>
  <tr>
    <td>8:30pm</td>
    <td>Passion: Open Q&A</td>
    <td>Passion Group</td>
    <td>Students can ask any questions they may have about the Passion group.</td>
  </tr>
  <tr>
    <td>9:00pm</td>
    <td>Freetime & Campfire</td>
    <td>N/A</td>
    <td>Students get free time to mingle and get to know others.</td>
  </tr>
</table>
<h2>Sunday, March 13</h2>
<table>
  <tr>
    <th class="time">Time</th>
    <th class="event">Event</th>
    <th class="delegate">Delegate</th>
    <th class="description">Description</th>
  </tr>
  <tr>
    <td>8:00am</td>
    <td>Wake up students</td>
    <td>TBD</td>
    <td>Wake up everyone, really.</td>
  </tr>
  <tr>
    <td>8:30am</td>
    <td>Breakfast</td>
    <td>SDC</td>
    <td>Help SDC set up table and deliver food. Eat.</td>
  </tr>
  <tr>
    <td>9:30am</td>
    <td>Team Activity</td>
    <td>Leo, Min-Jee</td>
    <td>Competitive team activity for students to get them moving.</td>
  </tr>
  <tr>
    <td>10:00am</td>
    <td>Culture: Internal Culture Presentation</td>
    <td>Rebecca, Heidi</td>
    <td>Set up laptop and project. Rebecca and Heidi will take care of the rest.</td>
  </tr>
  <tr>
    <td>11:30am</td>
    <td>Break</td>
    <td>N/A</td>
    <td>Break time for students.</td>
  </tr>
  <tr>
    <td>11:45am</td>
    <td>Culture: External Culture Presentation</td>
    <td>Sean, Soojin</td>
    <td>Set up laptop and project. Soojin and Sean will take care of the rest.</td>
  </tr>
  <tr>
    <td>12:15pm</td>
    <td>Lunch</td>
    <td>SDC</td>
    <td>Help SDC set up table and deliver food. Eat.</td>
  </tr>
  <tr>
    <td>1:15pm</td>
    <td>Outdoor Activity</td>
    <td>Leo, Min-Jee</td>
    <td>Let the students out and stretch their feet.</td>
  </tr>
  <tr>
    <td>1:45pm</td>
    <td>Nabi Presentation (Guest Speaker)</td>
    <td>Judy Cho</td>
    <td>Set up laptop and project, Judy will present.</td>
  </tr>
  <tr>
    <td>2:30pm</td>
    <td>Networking / Photos</td>
    <td>N/A</td>
    <td>Time for people to connect and do some last minute networking.</td>
  </tr>
  <tr>
    <td>3:30pm</td>
    <td>Pack up</td>
    <td>N/A</td>
    <td>Give students time to pack up.</td>
  </tr>
  <tr>
    <td>4:00pm</td>
    <td>Goodbyes</td>
    <td>N/A</td>
    <td>Students say their goodbyes.</td>
  </tr>
  <tr>
    <td>5:00pm</td>
    <td>Clean up</td>
    <td>Everyone</td>
    <td>Clean up after all the students leave.</td>
  </tr>
</table>