<h1>To Do</h1>
<h2>Before Friday</h2>
<ul>
  <li>Print student lists, two copies (at least)</li>
  <li>Detailed schedule (at least 11)</li>
  <li>Permission form (8)</li>
  <li>Sunny: Bring envelopes for the cheques</li>
  <li>Leo: Confirm bus arrival time</li>
  <li>Leo: Confirm HS confirmation list</li>
  <li>Come up with group icebreakers, inform Leo and MJ</li>
  <li>Masking tape?</li>
  <li>Back up plan for Team Activity, Outdoor Activity</li>
  <li>Camera?</li>
  <li>Rice cookers?</li>
</ul>
<h2>On Friday</h2>
<ul>
  <li>Divide up people into cabins for SDC, Konnect and HS Students</li>
  <li>Go over everything, do a full rehearsal</li>
</ul>