<h1>Konnect High School Retreat 2011 Calendar</h1>
<iframe src="http://www.google.com/calendar/embed?src=7ge7gkbpnhbdrsk693d3p0obus%40group.calendar.google.com&ctz=America/Toronto" style="border: 0" width="1000" height="500" frameborder="0" scrolling="no"></iframe>
<script type="text/javascript">
  countdown(2011, 03, 12);
</script>
