<header>
  <div id="counter" class="counter">
    <span><div class="countdown_num" id="countdown_day"></div><div>days</div></span>
    <span><div class="countdown_num" id="countdown_hour"></div><div>hours</div></span>
    <span><div class="countdown_num" id="countdown_min"></div><div>minutes</div></span>
    <span><div class="countdown_num" id="countdown_sec"></div><div>seconds</div></span>
  </div>
  <div id="expired" style="display:none">
    Konnect High School Retreat 2011 is here!
  </div>
  <!-- <div id="counter" class="counter">
    <ul class="countdown">
      <li><div class="countdown_num" id="countdown_day"></div><div>days</div></li>
      <li><div class="countdown_num" id="countdown_hour"></div><div>hours</div></li>
      <li><div class="countdown_num" id="countdown_min"></div><div>minutes</div></li>
      <li><div class="countdown_num" id="countdown_sec"></div><div>seconds</div></li>
    </ul>
  </div>
  <div id="expired" style="display:none;">
    The deadline has passed.
  </div> -->
</header>